.details {
  display: grid;
  grid-template-columns: 9.6fr 7.4fr;
  gap: $size20px * 1.5;

  .task__details {
    padding: $size20px $size20px * 3.8;
    background-color: $background-page;
    border-radius: $border-radius10;
    height: 96vh;
    gap: $size20px * 2.4;
    display: grid;
    grid-template-columns: 0.8fr 2fr 1fr 3fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      'return . button button'
      'main-top main-top main-top pic'
      'main-bottom main-bottom main-bottom .';

    &-top-return {
      grid-area: return;
      display: flex;
      align-items: center;
      font-weight: bolder;
      cursor: pointer;

      img {
        width: $size20px;
        height: $size20px * 0.75;
      }
      p {
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $font-color;
      }
    }
    &-top-button {
      grid-area: button;
      display: flex;
      gap: $size20px;
      justify-content: flex-end;
      font-size: 1.2rem;
      font-weight: bolder;

      &-edit,
      &-cancel {
        @include light-button;
      }
    }
    &-main-top {
      grid-area: main-top;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .task__details-title {
        font-size: 1.3rem;
        color: $light-blue;
      }

      .progress-text {
        p {
          font-size: 1.2em;
          font-weight: bolder;
        }
      }

      .progress {
        position: relative;
        overflow: hidden;

        progress {
          position: absolute;
          width: 0;
          height: 0;
          overflow: hidden;
        }
        &-value {
          color: $font-color;
          display: block;
          position: absolute;
          z-index: 10;
          line-height: 20px;
          font-size: 0.8em;
          font-weight: 600;
          text-align: center;
          top: 25%;
          left: 45%;
        }
        &-bg {
          margin-top: 10px;
          margin-bottom: 10px;
          background: $background-screen;
          position: relative;
          height: 20px;
          border-radius: $border-radius15;
          overflow: hidden;
          .progress-bar {
            overflow: hidden;
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: width 1s linear;
            &:after {
              background-size: 40px 40px;
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .task__details-item {
        display: flex;
        gap: 5px;
        &-value {
          color: $light-blue;
          font-weight: bolder;
        }
      }
    }

    &-main-bottom {
      grid-area: main-bottom;
      display: flex;
      flex-direction: column;
      gap: $size20px * 1.5;

      .task__details-payment {
        display: flex;
        flex-direction: column;
        gap: $size20px * 0.75;


        .toBePayed {
          display: flex;
          flex-direction: column;
          gap: 0.6vh;

          &__label {
            font-weight: bolder;
          }

          &__sum {
          border: 2px solid transparent;
          outline: none;
          width: 100%;
          background-color: $input-background;
          padding: 1.5vh * 0.85 $size20px;
          border-radius: $size20px * 0.25;
          cursor: pointer;

            &::placeholder {
              color: $font-color;
            }
          }
          &.payed {
            display: none;
          }
        }

        .payedNow {
          display: none;
          flex-direction: column;
          justify-content: center;
          gap: 0.6vh;
          &__label {
            color: $light-blue;
            font-weight: bolder;
          }

          &__sum {
            background-color: $input-background;
            padding: 1.5vh * 0.85 $size20px;
            border-radius: $size20px * 0.25;
          }

          &.payed {
            display: flex;
          }
        }

        &-btn-pay {
          width: 100%;
          @include blue-button;

          &.payed {
            display: none;
          }
        }

        &-btn-pay-again {
          width: 100%;
          @include blue-button;
          display: none;

          &.payed {
            display: block;
          }
        }
      }

      .task__details-history {
        display: flex;
        flex-direction: column;
        gap: $size20px * 0.75;

        p {
          font-weight: bolder;
        }

        &-container {
          display: flex;
          justify-content: flex-start;
          gap: $size20px;
        }

        &-item {
          width: 8vw;
          height: 8vw;
          background-color: $background-screen;
          border-radius: $border-radius10;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: $size20px * 0.25;

          img {
            width: 45%;
            height: auto;
          }
        }
      }
    }

    &-pic {
      grid-area: pic;
      place-self: center;
      img {
        width: 100%;
        border-radius: $border-radius10;
      }
    }
  }

  .task__details-img {
    display: flex;
    align-items: center;
    background-color: $background-page;
    border-radius: $border-radius10;
    padding: 20px;
    height: 96vh;
    &-mob {
      display: none;
    }

    &-large {
      width: 100%;
    }
  }
}

//media queries
@media screen and (max-width: $desktop), (orientation: portrait) {
  .details {
    .task__details {
      padding: $size20px * 0.75 $size20px * 2;
    }
  }
}

@media screen and (max-width: $tab), (orientation: portrait) {
  .details {
    display: grid;
    grid-template-columns: 1fr;
    gap: $size20px * 1.5;

    .task__details {
      height: max-content;
      padding: $size20px * 2;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, min-content);
      grid-template-areas:
        'return'
        'main-top'
        'pic'
        'main-bottom'
        'button';

      &-top-return {
        grid-area: return;
      }

      &-top-button {
        grid-area: button;
        display: flex;
        flex-direction: column;
        gap: $size20px;

        &-edit,
        &-cancel  {
          width: 100%;
          height: min-content;
          padding: $size20px;
        }
      }
      &-main-top {
        margin-top: 0;
        grid-area: main-top;

        .task__details-title {
          h2 {
            font-size: 1.3em;
          }
        }
        .progress-text {
          p {
            font-size: 0.875em;
          }
        }

        .task__details-item {
          font-size: 0.875em;
          display: flex;
          flex-direction: column;
          gap: 15px;

          &-value {
            color: $light-blue;
            font-weight: bolder;
          }
        }
      }
      &-main-bottom {
        grid-area: main-bottom;
        .task__details-payment {
          display: grid;
          grid-template-columns: 1fr;
          row-gap: 15px;
          p {
            font-size: 0.8em;
            font-weight: bolder;
          }
          input {
            &::placeholder {
              font-size: 0.7em;
            }
          }
          button {
            width: 100%;
            height: min-content;
            padding: $size20px;
          }
        }
        .task__details-history {
          &-container {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
          }

          &-item {
            width: 40vw;
            height: 40vw;

            img {
              width: 45%;
              height: auto;
            }
          }

        }
      }
      &-pic {
        grid-area: pic;
        place-self: center;
        img {
          width: 100%;
          border-radius: $border-radius10;
        }
      }
    }
    .task__details-img {
      height: unset;
      &-mob {
        display: block;
        width: 100%;
      }

      &-large {
        display: none;
      }
    }
  }
}
