//progress settings
@for $i from 0 through 100 {
  .progress progress[value='#{$i}'] {
    & + .progress-value:before {
      content: '#{$i}%';
    }
    & ~ .progress-bg .progress-bar {
      width: $i * 1%;
    }
  }
}

.start {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(3, 2fr) repeat(2, 3fr);
  gap: $size20px * 1.5;
  grid-template-areas:
    'greeting money'
    'tasks money'
    'tasks money'
    'tasks goals'
    'tasks goals';
  &__greeting {
    grid-area: greeting;
    display: flex;
    align-items: center;
    gap: $size20px * 0.5;

    &-text {
      font-weight: 800;
    }
  }

  &__tasks {
    grid-area: tasks;
    display: flex;
    flex-direction: column;
    gap: $size20px;

    &-title {
      font-weight: 800;
    }

    &-container {
      flex: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    &-item {

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: $size20px * 0.5;
      border-bottom: 1px solid $light-blue;

      &:last-child {
        border-bottom: none;
      }

      &-title {
        color: $light-blue;
        font-size: 24px;
        font-weight: bolder;
      }

      &-progress {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $size20px * 0.45;

        p {
          font-size: 20px;
        }

        &-left {
          display: flex;
          gap: $size20px * 0.25;
          font-size: 16px;
          color: $font-color;
        }

        .progress {
          position: relative;
          overflow: hidden;

          progress {
            position: absolute;
            width: 0;
            height: 0;
            overflow: hidden;
          }
          &-value {
            color: $font-color;
            display: block;
            position: absolute;
            z-index: 10;
            line-height: 20px;
            font-size: 1.2em;
            font-weight: 600;
            text-align: center;
            top: 25%;
            left: 45%;
          }
          &-bg {
            margin-top: 10px;
            margin-bottom: 10px;
            background: $background-screen;
            position: relative;
            height: 20px;
            border-radius: $border-radius15;
            overflow: hidden;
            .progress-bar {
              overflow: hidden;
              width: 0;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              transition: width 1s linear;
              &:after {
                background-size: 40px 40px;
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  &__money {
    grid-area: money;

    &-title {
      color: $light-blue;
      font-weight: 24px;
    }

    &-sum {
      font-size: 64px;
      font-weight: 900;
    }
  }

  &__goals {
    grid-area: goals;

    &-title {
      color: $light-blue;
      font-weight: 24px;
    }

    &-qty {
      font-size: 64px;
      font-weight: 900;
    }
  }

  &__item {
    background-color: $background-page;
    border-radius: $border-radius10;
    padding: $size20px * 1.5;
  }
}

//media queries
@media screen and (max-width: $tab), (orientation: portrait) {
  .start {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      'greeting'
      'tasks'
      ' money'
      'goals';

    &__greeting {
      flex-direction: column;

      &-text {
        font-size: 24px;
        align-self: flex-start;
      }

      & img {
        width: $size20px * 10.5;
        align-self: flex-end;
      }
    }

    &__tasks {
      gap: $size20px;

      &-item {
        height: unset;
        gap: $size20px;
      }
    }
  }
}
