html {
  font-size: 18px;
  color: #000;
  max-width: 1920px;
  min-width: 320px;
}
body {
  background-color: $background-screen;
  padding: 100px 100px 100px 200px;
  font-family: 'Intro', sans-serif;
}
main {
  max-width: 1780px;
  background-color: $background-page;
  border-radius: 15px;
}
