

html {
  font-size: 18px;
  color: $font-color;
  max-width: 1920px;
  min-width: 320px;
}

.body {
  background-color: $background-screen;
  padding: $size20px * 1.5 $size20px;
  font-family: 'Intro', sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: $size20px * 1.5;
}

.main {
  border-radius: $border-radius;
}

@media screen and (min-width: 993px) and (orientation: landscape) {
  .body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .main {
    height: 94vh;
    overflow: hidden;
  }
}

@media screen and (orientation: portrait) {
  .body,
  .main {
    height: unset;
    overflow-y: auto;
  }

}
