html {
  font-size: 18px;
  color: $font-color;
  max-width: 1920px;
  min-width: 320px;
}

.body {
  background-color: $background-screen;
  padding: $size20px * 1.5 $size20px ;
  font-family: 'Intro', sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: $size20px * 1.5;
}

.main {
  background-color: $background-page;
  border-radius: $border-radius;
}
