html {
  font-size: 18px;
  color: #000000;
  max-width: 1920px;
  min-width: 320px;
}

.body {
  background-color: #ededed;
  padding: 30px 20px;
  font-family: "Intro", sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 30px;
}

.main {
  background-color: #ffffff;
  border-radius: 15px;
}

.sidebar {
  background-color: #ffffff;
  width: 120px;
  height: 94vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 2px;
}
.sidebar__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sidebar__start .logo img {
  width: 80px;
}
.sidebar__start .avatar {
  margin-top: 10px;
}
.sidebar__start .avatar img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  object-fit: cover;
}
.sidebar__start .sidebar__add-task {
  width: 82px;
  height: 82px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.sidebar__start .sidebar__add-task:hover {
  background-color: #009fdf;
}
.sidebar__start .sidebar__add-task img {
  width: 100%;
  height: 100%;
}
.sidebar__handlers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sidebar__assistance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.box {
  width: 84px;
  height: 84px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
}
.box:hover {
  background-color: #009fdf;
}

.help {
  padding: 50px;
}
.help-top {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a2973;
  padding: 10px 15px;
  border-radius: 150px;
  width: 10px;
  transform: rotate(180deg);
  margin-bottom: 50px;
}
.help-top img {
  width: 20px;
}
.help-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}
.help-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  border: 0.1px solid lightgrey;
  border-radius: 15px;
}
.help-container .item h2 {
  color: #0a2973;
}
.help-container .item img {
  width: 100%;
}
.help-container .item p {
  justify-self: center;
  text-align: center;
  font-size: 0.875em;
}