html {
  font-size: 18px;
  color: #000000;
  max-width: 1920px;
  min-width: 320px;
}

.body {
  background-color: #ededed;
  padding: 30px 20px;
  font-family: "Intro", sans-serif;
  position: relative;
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 30px;
}

.main {
  background-color: #ffffff;
  border-radius: 15px;
}

.sidebar {
  background-color: #ffffff;
  width: 120px;
  height: 94vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 2px;
}
.sidebar__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.sidebar__start .logo img {
  width: 80px;
}
.sidebar__start .avatar {
  margin-top: 10px;
}
.sidebar__start .avatar img {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar__start .sidebar__add-task {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: all ease 0.5s;
}
.sidebar__start .sidebar__add-task:hover {
  background-color: #009fdf;
}
.sidebar__start .sidebar__add-task img {
  width: 100%;
  height: 100%;
}
.sidebar__handlers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sidebar__handlers img {
  width: 40px;
}
.sidebar__assistance {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.sidebar__assistance img {
  width: 40px;
}

.box {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 0.5s;
}
.box:hover {
  background-color: #009fdf;
}

.help {
  padding: 50px 20px 20px 20px;
}
.help-top {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0a2973;
  padding: 0px 10px 0px 10px;
  border-radius: 50px;
  width: 10px;
  transform: rotate(180deg);
  margin-bottom: 50px;
}
.help-top img {
  width: 20px;
}
.help-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.help-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  border: 0.1px solid lightgrey;
  border-radius: 15px;
}
.help-container .item h2 {
  color: #0a2973;
}
.help-container .item img {
  width: 100%;
}
.help-container .item p {
  justify-self: center;
  text-align: center;
  font-size: 0.875em;
}

.help-mob {
  display: none;
}

@media screen and (max-width: 992px) {
  .help-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .help-container .item h2 {
    font-size: 0.875em;
    color: #0a2973;
  }
  .help-container .item img {
    width: 80%;
  }
  .help-container .item p {
    font-size: 0.7em;
  }
  .help-mob {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .help-container {
    display: none;
  }
  .help-mob {
    display: block;
    margin-top: -50px;
    padding: 0px 20px 0px 20px;
  }
  .help-mob .owl-carousel {
    text-align: center;
  }
  .help-mob .owl-carousel .item {
    margin: 0 auto;
    width: 90%;
    padding: 30px 0 30px 0;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .help-mob .owl-carousel .item h2 {
    color: #0a2973;
  }
  .help-mob .owl-carousel .item img {
    width: 50%;
  }
  .help-mob .owl-carousel .item p {
    justify-self: center;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
  }
}/*# sourceMappingURL=main.css.map */