extends ./layout.pug
block variables
  - var title = "VTB планер задач"

block main
  .start
    .start__greeting.start__item
      h2.start__greeting-text Привет, <br>Валера!
      img(src=require('./assets/other/girls.png') alt="greeting pic")

    .start__tasks.start__item
      h2.start__tasks-title Важные цели
      .start__tasks-container


    .start__money.start__item
      h3.start__money-title Всего средств
      .start__money-sum 
      .start__money-graph
        div
          canvas(id='money-graph' width='100%' height='300px')


    .start__goals.start__item
      h3.start__goals-title Всего целей
      .start__goals-qty 50 шт
      .start__goals-graph
        div
          canvas(id='goal-graph' width='100%' height='150px')