extends ./layout.pug
block variables
  - var title = "VTB планер задач"

block main
  .start
    .start__greeting.start__item
      h2.start__greeting-text Привет, <br>Валера!
      img(src=require('./assets/other/girls.png') alt="greeting pic")

    .start__tasks.start__item
      h2.start__tasks-title Важные цели

      .start__tasks-item
        .start__tasks-item-title Купить мазератти

        .start__tasks-item-progress
          p Прогресс цели
          progress(id="progress" value="80" max="100")

        .start__tasks-item-left
          span Осталось собрать:
          span.start__tasks-item-left-sum 100 денег

      .break-line

      .start__tasks-item
        .start__tasks-item-title Съездить в Майами

        .start__tasks-item-progress
          p Прогресс цели
          progress(id="progress" value="20" max="100")

        .start__tasks-item-left
          span Осталось собрать:
          span.start__tasks-item-left-sum 30 денег

      .break-line

      .start__tasks-item
        .start__tasks-item-title Слетать на луну

        .start__tasks-item-progress
          p Прогресс цели
          progress(id="progress" value="50" max="100")

        .start__tasks-item-left
          span Осталось собрать:
          span.start__tasks-item-left-sum 3000 денег

    .start__money.start__item
      h3.start__money-title Всего средств
      .start__money-sum 120 денег
      .start__money-graph


    .start__goals.start__item
      h3.start__goals-title Всего целей
      .start__goals-qty 50 шт
      .start__goals-graph