extends ./layout.pug
block variables
  - var title = "VTB Новая задача"

block main
  .new
    form(name="formNew").new__form
      a.new__form-back(href="index.html")
        img(src=require("./assets/icons/arrow-left.png") alt="arrow-left")
        p Назад

      .new__form-buttons
        button.new__form-save Сохранить
        button.new__form-cancel Отмена

      .new__form-inputs-top
        .input-item
          label(for="goalName") Название цели <span class="hint">(обязательное поле)</span>
          input._req(type="text" id="goalName" name="goalName" placeholder="Введите название цели")

        .input-item
          label(for="sum") Сумма которую хотите накопить <span class="hint">(обязательное поле)</span>
          input._req(type="number" id="sum" name="goalSum" placeholder="Введите сумму")

        .input-item
          label(for="prioryTarget") Приоритет цели <span class="hint">(обязательное поле)</span>
          select._req#priory-target(name="prioryTarget")
            option(value="high") Высокий
            option(value="medium") Средний
            option(value="low") Низкий

        .input-item
          label(for="prioryTime") Приоритет цели по времени <span class="hint">(обязательное поле)</span>
          select._req#priory-time(name="prioryTime")
            option(value="highTime") Долгосрочная
            option(value="lowTime") Короткосрочная

        .input-item
          label(for="dateStart") Дата начала накопления <span class="hint">(обязательное поле)</span>
          input._req(type="date" id="dateStart" name="dateStart" placeholder="Выберите дату")

        .input-item
          label(for="dateEnd") Дата окончания накопления <span class="hint">(обязательное поле)</span>
          input._req(type="date" id="dateEnd" name="dateEnd" placeholder="Выберите дату")

      .new__form-inputs-bottom
        .input-item
          label(for="sumNow") Сумма которую хотите внести сейчас
          input(type="number" id="sumNow" name="sumNow" placeholder="Введите сумму")

        button(class="new__form-submit" type="submit") Пополнить

      .new__form-add
        input.new__form-add-input(type="file" accept=".jpg, .png, .gif" name="addImage")
        .new__form-add-button
          img(src=require("./assets/icons/new-task.png") alt="add-icon")
        .new__form-add-preview

    .new__pic
      img(src=require("./assets/other/pic.png") alt="").large
      img(src=require("./assets/other/pic-small.png") alt="").mob
