extends ./layout.pug
block variables
  - var title = "VTB Новая задача"

block main
  .new
    form(name="formNew").new__form
      .new__form-back
        img(src=require("./assets/icons/arrow-left.png") alt="arrow-left")
        p Назад

      .new__form-buttons
        button.new__form-save Сохранить
        button.new__form-cancel Отмена

      .new__form-inputs-top
        .input-item
          label(for="goalName") Название цели
           span (обязательное поле)
          input(type="text" id="goalName" name="goalName" placeholder="Введите название цели")._req

        .input-item
          label(for="sum") Сумма которую хотите накопить
          input(type="number" id="sum" name="goalSum" placeholder="Введите сумму")._req

        .input-item
          label(for="prioryTarget") Приоритет цели
          select#priory-target(name="prioryTarget")._req
            option(value="high") Высокий
            option(value="medium") Средний
            option(value="low") Низкий

        .input-item
          label(for="prioryTime") Приоритет цели по времени
          select#priory-time(name="prioryTime")._req
            option(value="highTime") Долгосрочная
            option(value="lowTime") Короткосрочная

        .input-item
          label(for="dateStart") Дата начала накопления
          input(type="date" id="dateStart" name="dateStart" placeholder="Выберите дату")._req

        .input-item
          label(for="dateEnd") Дата окончания накопления
          input(type="date" id="dateEnd" name="dateEnd" placeholder="Выберите дату")._req

      .new__form-inputs-bottom
        .input-item
          label(for="sumNow") Сумма которую хотите внести сейчас
          input(type="number" id="sumNow" name="sumNow" placeholder="Введите сумму")

        button(class="new__form-submit" type="submit") Пополнить

      .new__form-add
        input(type="file" accept=".jpg, .png, .gif" name="addImage").new__form-add-input
        .new__form-add-button
          img(src=require("./assets/icons/new-task.png") alt="add-icon")
        .new__form-add-preview

    .new__pic
      img(src=require("./assets/other/pic.png") alt="").large
      img(src=require("./assets/other/pic-small.png") alt="").mob
