extends ./layout.pug
block variables
  - var title = "VTB Новая задача"

block main
  .new
    .new__block1
      .new__block1-back
        img(src=require('./assets/icons/arrow-left.png') alt="arrow-left")
        p Назад

      .new__block1-buttons
        button Сохранить
        button Отмена

      form.form.new__block1-inputs-top
        .form__input-item
          label(for="task") Название цели
          input(type="text" id='task' placeholder='Введите название цели')

        .form__input-item
          label(for="sum") Сумма которую хотите накопить
          input(type="number" id='sum' placeholder='Введите сумму')

        .form__input-item
          label(for="priory-target") Приоритет цели
          select#priory-target(name="priory-target")
            option(value="high") Высокий
            option(value="medium") Средний
            option(value="low") Низкий
        .form__input-item
          label(for="priory-time") Приоритет цели по времени
          select#priory-time(name="priory-time")
            option(value="high-time") Долгосрочная
            option(value="low-time") Короткосрочная

        .form__input-item
          label(for="сalendar-start") Дата начала накопления
          input(type="date" id='calendar-start' placeholder='Выберите дату')

        .form__input-item
          label(for="сalendar-end") Дата окончания накопления
          input(type="date" id='calendar-end' placeholder='Выберите дату')

      .new__block1-inputs-bottom
        .form__input-item
          label(for="sum-now") Сумма которую хотите внести сейчас
          input(type="number" id='sum-now' placeholder='Введите сумму')

        button(class='form__button' type='submit') Пополнить

      .new__block1-add
        img(src=require('./assets/icons/new-task.png') alt="add-icon")

    .new__block2
      img(src=require('./assets/other/pic.png') alt="").large
      img(src=require('./assets/other/pic-small.png') alt="").mob
