extends ./layout.pug
block variables
  - var title = "VTB Новая задача"

block main
  .new-task
    .first-screen
      .new-task-top
        .nav
          img(src=require('./assets/icons/arrow-left.png') alt="arrow-left")
          p Назад
        .nav-buttons
          button Сохранить
          button Отмена

      .new-task-inputs
        .nav-buttons-mob
          button Сохранить
          button Отмена

        form.form
          .input-item
            label(for="task") Название цели
            input(type="text" id='task' placeholder='Введите название цели')

          .input-item
            label(for="sum") Сумма которую хотите накопить
            input(type="number" id='sum' placeholder='Введите сумму')

          .input-item
            label(for="priory-target") Приоритет цели
            select#priory-target(name="priory-target")
              option(value="high") Высокий
              option(value="medium") Средний
              option(value="low") Низкий
          .input-item
            label(for="priory-time") Приоритет цели по времени
            select#priory-time(name="priory-time")
              option(value="high-time") Долгосрочная
              option(value="low-time") Короткосрочная

          .input-item
            label(for="сalendar-start") Дата начала накопления
            input(type="date" id='calendar-start' placeholder='Выберите дату')

          .input-item
            label(for="сalendar-end") Дата окончания накопления
            input(type="date" id='calendar-end' placeholder='Выберите дату')

          .input-item.input-item-end
            label(for="sum-now") Сумма которую хотите внести сейчас
            input(type="number" id='sum-now' placeholder='Введите сумму')

          .form-button
            button(type='submit') Пополнить

        .add-img
          img(src=require('./assets/icons/new-task.png') alt="add-icon")

    .second-screen
      img(src=require('./assets/other/pic.png') alt="")
