extends ./layout.pug
block variables
  - var title = "VTB Все задачи"

block main
  .tasks
    .tasks__line1
      .tasks__item.tasks__item1 param
      .tasks__item param
      .tasks__item param
    .tasks__line2
      .tasks__item param
      .tasks__item param
      .tasks__item param