html(lang="ru")
  head
    meta(charset="utf-8")
    title= "VTB планер задач"
  body
    header.sidebar
      .sidebar__start
        .logo
        .avatar
        .sidebar__add-task

      .sidebar__handlers
        .sidebar__handlers-general
          p some text
        .sidebar__handlers-tasks
          p some text
        .sidebar__handlers-settings
          p some text

      .sidebar__assistance
        .sidebar__assistance-help
        .sidebar__assistance-exit

    main
      block main

    script
      block script
